:root {
    --c-black: #1d1f22;
    --c-black-base: 29,31,34;
    --c-black-lighten: #292c30;
    --c-black-darken: #111214;
    --c-white: #fff;
    --_c-green-primary: #5ece7b;
    --_c-green-primary-base: 94,206,123;
    --_c-green-primary-lighten: #72d48b;
    --_c-green-primary-darken: #4ac86b;
    --_c-green-secondary: #9ee2b0;
    --_c-green-secondary-base: 158,226,176;
    --_c-green-secondary-lighten: #b2e8c0;
    --_c-green-secondary-darken: #8adca0;
    --_c-dark-primary: #1d1f22;
    --_c-dark-primary-base: 29,31,34;
    --_c-dark-primary-lighten: #292c30;
    --_c-dark-primary-darken: #111214;
    --_c-dark-secondary: #43464e;
    --_c-dark-secondary-base: 67,70,78;
    --_c-dark-secondary-lighten: #4f525c;
    --_c-dark-secondary-darken: #373a40;
    --_c-gray-primary: #72757e;
    --_c-gray-primary-base: 114,117,126;
    --_c-gray-primary-lighten: #7f828b;
    --_c-gray-primary-darken: #666971;
    --_c-gray-secondary: #8d8f9a;
    --_c-gray-secondary-base: 141,143,154;
    --_c-gray-secondary-lighten: #9b9ca6;
    --_c-gray-secondary-darken: #7f828e;
    --_c-gray-accent: #e0e0e1;
    --_c-gray-accent-base: 224,224,225;
    --_c-gray-accent-lighten: #ededee;
    --_c-gray-accent-darken: #d3d3d4;
    --_c-light-primary: #f1f2f3;
    --_c-light-primary-base: 241,242,243;
    --_c-light-primary-lighten: #fff;
    --_c-light-primary-darken: #e3e5e7;
    --_c-light-secondary: #fff;
    --_c-light-secondary-base: 255,255,255;
    --_c-light-secondary-lighten: #fff;
    --_c-light-secondary-darken: #f2f2f2;
    --_c-red-primary: #d12727;
    --_c-red-primary-base: 209,39,39;
    --_c-red-primary-lighten: #da3838;
    --_c-red-primary-darken: #bc2323;
    --_c-red-secondary: #fcede8;
    --_c-red-secondary-base: 252,237,232;
    --_c-red-secondary-lighten: #fff;
    --_c-red-secondary-darken: #f9dbd1;
    --_c-yellow-primary: #ecc713;
    --_c-yellow-primary-base: 236,199,19;
    --_c-yellow-primary-lighten: #eecd2b;
    --_c-yellow-primary-darken: #d4b311;
    --_c-yellow-secondary: #f6e389;
    --_c-yellow-secondary-base: 246,227,137;
    --_c-yellow-secondary-lighten: #f8e9a1;
    --_c-yellow-secondary-darken: #f4dd71;
    --_c-blue-primary: #0468db;
    --_c-blue-primary-base: 4,104,219;
    --_c-blue-primary-lighten: #0474f4;
    --_c-blue-primary-darken: #045cc2;
    --_c-blue-secondary: #e1f4fe;
    --_c-blue-secondary-base: 225,244,254;
    --_c-blue-secondary-lighten: #fafdff;
    --_c-blue-secondary-darken: #c8ebfd;
    --c-body: var(--_c-light-secondary);
    --c-text: var(--_c-dark-primary);
    --c-text-muted: var(--_c-gray-primary);
    --c-text-disabled: var(--_c-gray-accent);
    --c-link: var(--_c-dark-secondary);
    --c-link-hover: var(--c-black);
    --c-primary: var(--_c-green-primary);
    --c-primary-base: var(--_c-green-primary-base);
    --c-primary-lighten: var(--_c-green-primary-lighten);
    --c-primary-darken: var(--_c-green-primary-darken);
    --c-primary-variant: var(--_c-green-secondary);
    --c-on-primary: var(--_c-light-secondary);
    --c-secondary: var(--_c-dark-primary);
    --c-secondary-base: var(--_c-dark-primary-base);
    --c-secondary-lighten: var(--_c-dark-primary-lighten);
    --c-secondary-darken: var(--_c-dark-primary-darken);
    --c-secondary-variant: var(--_c-dark-secondary);
    --c-on-secondary: var(--_c-light-secondary);
    --c-light: var(--_c-light-primary);
    --c-light-base: var(--_c-light-primary-base);
    --c-light-lighten: var(--_c-light-primary-lighten);
    --c-light-darken: var(--_c-light-primary-darken);
    --c-light-variant: var(--_c-light-secondary);
    --c-on-light: var(--c-black);
    --c-gray: var(--_c-gray-primary);
    --c-gray-base: var(--_c-gray-primary-base);
    --c-gray-lighten: var(--_c-gray-primary-lighten);
    --c-gray-darken: var(--_c-gray-primary-darken);
    --c-gray-variant: var(--_c-gray-secondary);
    --c-on-gray: var(--c-black);
    --c-dark: var(--_c-dark-primary);
    --c-dark-base: var(--_c-dark-primary-base);
    --c-dark-lighten: var(--_c-dark-primary-lighten);
    --c-dark-darken: var(--_c-dark-primary-darken);
    --c-dark-variant: var(--_c-dark-secondary);
    --c-on-dark: var(--_c-light-secondary);
    --c-info: var(--_c-blue-primary);
    --c-info-base: var(--_c-blue-primary-base);
    --c-info-lighten: var(--_c-blue-primary-lighten);
    --c-info-darken: var(--_c-blue-primary-darken);
    --c-info-variant: var(--_c-blue-secondary);
    --c-on-info: var(--_c-light-secondary);
    --c-success: var(--_c-green-primary);
    --c-success-base: var(--_c-green-primary-base);
    --c-success-lighten: var(--_c-green-primary-lighten);
    --c-success-darken: var(--_c-green-primary-darken);
    --c-success-variant: var(--_c-green-secondary);
    --c-on-success: var(--_c-light-secondary);
    --c-warning: var(--_c-yellow-primary);
    --c-warning-base: var(--_c-yellow-primary-base);
    --c-warning-lighten: var(--_c-yellow-primary-lighten);
    --c-warning-darken: var(--_c-yellow-primary-darken);
    --c-warning-variant: var(--_c-yellow-secondary);
    --c-on-warning: var(--_c-light-secondary);
    --c-danger: var(--_c-red-primary);
    --c-danger-base: var(--_c-red-primary-base);
    --c-danger-lighten: var(--_c-red-primary-lighten);
    --c-danger-darken: var(--_c-red-primary-darken);
    --c-danger-variant: var(--_c-red-secondary);
    --c-on-danger: var(--_c-light-secondary);
    --spacer-2xs: 0.25rem;
    --spacer-xs: 0.5rem;
    --spacer-sm: 1rem;
    --spacer-base: 1.5rem;
    --spacer-lg: 2rem;
    --spacer-xl: 2.5rem;
    --spacer-2xl: 5rem;
    --spacer-3xl: 10rem;
    --font-family--primary: "Roboto",serif;
    --font-family--secondary: "Raleway",sans-serif;
    --font-weight--light: 300;
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semibold: 600;
    --font-weight--bold: 700;
    --font-size--xs: 0.75rem;
    --font-size--sm: 0.875rem;
    --font-size--base: 1rem;
    --font-size--lg: 1.125rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: var(--font-size--lg);
    --h4-font-size: var(--font-size--lg);
    --h5-font-size: var(--font-size--base);
    --h6-font-size: var(--font-size--base);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    color: #1d1f22;
    color: var(--c-text);
    font-size: 1rem;
    font-size: var(--font-size--base);
    font-family: "Roboto",serif;
    font-family: var(--font-family--primary);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #43464e;
    color: var(--c-link);
}

.sf-button {
    --link-color: var(--button-color,var(--c-light-variant));
    box-sizing: border-box;
    position: relative;
    width: var(--button-width);
    width: var(--button-size,var(--button-width));
    height: var(--button-height);
    height: var(--button-size,var(--button-height));
    display: flex;
    display: var(--button-display,flex);
    align-items: center;
    justify-content: center;
    padding: var(--button-padding,var(--spacer-sm) var(--spacer-base));
    color: var(--c-light-variant);
    color: var(--button-color,var(--c-light-variant));
    background: var(--c-primary);
    background: #ffffff;
    transition: background .8s;
    transition: var(--button-transition,background .8s);
    background-position: 50%;
    text-transform: uppercase;
    text-transform: var(--button-text-transform, uppercase);
    -webkit-text-decoration: var(--button-text-decoration);
    text-decoration: var(--button-text-decoration);
    cursor: pointer;
    cursor: var(--button-cursor, pointer);
    border-radius: 0;
    border-radius: var(--button-border-radius, 0);
    white-space: nowrap;
    white-space: var(--button-wrap, nowrap);
    font: var(--font-weight--semibold) var(--font-size--base)/1.2 var(--font-family--secondary);
    font: var(--button-font,var(--button-font-weight, var(--font-weight--semibold)) var(--button-font-size, var(--font-size--base))/var(--button-font-line-height, 1.2) var(--button-font-family, var(--font-family--secondary)));
    border: var(--button-border, var(--c-white, solid) var(--button-border-color, var(--c-primary)));
    border-width: 0;
    border-width: var(--button-border-width,0);
    --button-box-shadow-opacity: 0;
}

.sf-button--outline {
    --button-border-width: 1px;
    --button-color: var(--c-text);

}

.sf-button--outline, .sf-button--outline:hover {
    --button-background: transparent;
}

.sf-button--outline, .sf-button--outline:hover {
    --button-background: transparent;
}

.sf-button {
    --button-padding: var(--spacer-sm) var(--spacer-lg);
}
